# Always redirect to the controller file
# this file analyse and treats all HTTP requests
# Directories request are redirected to the
# controller file in order to a better compatibility
# Uncomment the second rewrite condition to allow them
<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /wok
    RewriteCond %{REQUEST_FILENAME} !-f
    #RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule . /wok/index.php [L]
</IfModule>