# Always redirect to index.php
# this file analyse and treats all HTTP requests
<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /graphidev
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d

    RewriteRule . /wok/index.php [L]
</IfModule>