# Input and output pathes
source: ./
destination: ./api

# list of scanned file extensions (e.g. php5, phpt...)
extensions: [php]

# directories and files matching this file mask will not be parsed
exclude:
    - controllers/
    - templates/
    - models/
    - vendor/

# similar to above, but this files will be included in class tree
#skipDocPath:

# character set of source files; if you use only one across your files, we recommend you name it
charset: [UTF-8]

# elements with this name prefix will be considered as the "main project" (the rest will be considered as libraries)
#main: ApiGen

# title of generated documentation
title: WOK

# choose ApiGen template theme
templateTheme: bootstrap # or: bootstrap

# want to use individual templates, higher priority than option templateTheme
#templateConfig: my/template/config.neon

# the way elements are grouped in menu
groups: auto # also: namespace, packages, none; auto will detect namespace first, than packages

# access levels of included method and properties
accessLevels: [public, protected] # also [private]

# include elements marked as @internal/{@internal}
internal: true

# generate documentation for PHP internal classes
php: false

# generate highlighted source code for elements
sourceCode: true

# generate tree view of classes, interfaces, traits and exceptions
tree: false

# generate documentation for deprecated elements
deprecated: true

# generate list of tasks with @todo annotation
todo: false

# add link to ZIP archive of documentation
download: false
