body {
    font-size: 90%;
    //background: url('../img/background.jpg');
}

#main {
    width: 1024px;
    margin: 20px auto;
}

#main p {
    margin: 20px 0;
}

#main .content {
    padding: 40px;
}
#main .content .thumbnail {
    background: #fff;
}
