#content {
                width: 650px;
                margin: auto;
            }
            #content .node {
                padding: 10px;
            }
            #content .node .actions {
                float: right;
                width: 100px;
                //visibility: hidden;
                text-align: center;
            }
            #content .node:hover > .actions {
               // visibility: visible;
            }
            #content .node:hover {
                background: #eee;
            }
            #content p {
                text-indent: 2em;
                min-height: 40px;
                margin: 0;
            }
            #content .item {
                padding: 10px;
            }
            #content .item:hover {
                background: #fff;
            }
            #content .item input[type=text],
            #content .item input[type=time],
            #content .item textarea {
                width: 300px;
            }
            #content .item input[type=text],
            #content .item input[type=time]{
                padding: 10px;
                height: 30px;
            }
            #content .item textarea {
                height: 150px;
            }
            
            #content .instructions {
            }
            #content .instructions .title {
                font-weight: bold;
                margin-bottom: 5px;
            }
            #content .instructions .legend {
                color:#666;
                font-style: italic;
            }
            #content .fields {
                float: left;
            }
            
            #content label.legend,
            #content .instructions {
                width: 200px;
                margin-right: 20px;
                float: left;
                white-space: pre; word-wrap: break-word
            }
            #content .choice label { 
                display: inline;
                padding: 5px;
            }
            #content .choice input[type=radio],
            #content .choice input[type=checkbox] {
                margin-top: -3px;
            }